<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/github/QAtest">


        <!--todo        для запуска классов-->
        <!--        <classes>-->
        <!--            <class name="TestNG.Test1"></class>-->
        <!--        </classes>-->


        <!--todo Для запуска пакетов-->
        <!--        <packages>-->
        <!--            <package name="TestNG"></package>-->
        <!--        </packages>-->


        <!--todo       Для запуска тестов по группе-->
        <!--                <groups>-->
        <!--                    <run>-->
        <!--                        <include name="smokeTest"/>-->
        <!--                    </run>-->
        <!--                </groups>-->
        <!--                <classes>-->
        <!--                    <class name="TestNG.Test1"></class>-->
        <!--                    <class name="TestNG.Test2"></class>-->
        <!--                </classes>-->


        <!--todo        Для запуска по Параметру и группе-->
        <parameter name="tests" value="SQL">
            <groups>
                <run>
                    <include name="testing"/>
                </run>
            </groups>
            <classes>
                <class name="TestNG.Test1"></class>
            </classes>
        </parameter>
    </test>
    <test name="dependencies">
        <groups>
            <run>
                <include name="dependencies"/>
            </run>
        </groups>
        <classes>
            <class name="TestNG.Test1"></class>
        </classes>
    </test>

    <test name="testRetry">
        <groups>
            <run>
                <include name="testRetry"/>
            </run>
        </groups>
        <classes>
            <class name="TestNG.Test1"></class>
            <class name="TestNG.Test2"></class>
        </classes>
    </test>
</suite>